#flightContainer{
    -fx-background-image: url("/pexels-nik-oak-173187900-19390288.jpg");
    -fx-background-repeat: no-repeat ;
    -fx-background-size: cover;
}
.root {
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 14px;
    -fx-base: #ffffff;
}

#loginBtnFlights{
    -fx-font-weight: bold;
    -fx-min-height: 60px;
    -fx-pref-height: 60px;
    -fx-background-color: #333; 
    -fx-text-fill: white; 
    -fx-font-size: 18px;
    -fx-border-radius: 10; 
    -fx-background-radius: 10;
    -fx-effect: none;

}
#loginBtnFlights:hover {
    -fx-background-color: #555; 
    -fx-text-fill: #FFD700; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0.0, 0, 3); 
    -fx-scale-x: 1.05; 
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}
#loginBtnFlights:pressed {
    -fx-background-color: #444; 
    -fx-scale-x: 1.0; 
    -fx-scale-y: 1.0;
}
#loginBtnFlights.logged-in {
    -fx-font-weight: bold;
    -fx-background-color: #333; 
    -fx-text-fill: white; 
}


#loginBtnFlights.logged-in:hover {
    -fx-text-fill: #D71920; 
    -fx-background-color: #555; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0.0, 0, 3); 
    -fx-scale-x: 1.05; 
    -fx-scale-y: 1.05;
}

#iconBtnFlights {
    -fx-background-image: url("/Emirates_logo.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center bottom;
    -fx-background-color: #D71920;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0.0, 0, 3);

}
#iconBtnFlights:hover {
    -fx-cursor: hand;
}

#toolBarFlights{
    -fx-background-color: #333;
}

#backToolBar{
    -fx-background-color: rgba(255, 255, 255, 0.75);
}

.flight-card {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 15px;
    -fx-spacing: 15px;
    -fx-effect: none;
    -fx-background-insets: 0;
    -fx-cursor: hand;
    -fx-border-color:#D71920;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
    -fx-shadow-highlight-color: #c5c5c5;
}

.flight-card:hover {
    -fx-background-color: rgba(255, 255, 255, 0.8);;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color:#388e3c;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, #d2d2d2, 10, 0, 0, 0);
}

.flight-card .header {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #4e4e4e;
    -fx-padding-bottom: 10px;
}

.flight-card .details {
    -fx-text-fill: #888888;
}

.flight-card .duration,
.flight-card .stops {
    -fx-text-fill: #999999;
}

.flight-card .pricing-section {
    -fx-alignment: center-right;
}

.flight-card .pricing-section .price {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #e4002b; 
}


.flight-card .pricing-section .class-type {
    -fx-text-fill: #e4002b; 
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.flight-card .pricing-section .lowest-price {
    -fx-font-size: 12px;
    -fx-text-fill: #777;
}

.flight-card .details-container {
    -fx-hbox-alignment: center;
    -fx-spacing: 30px;
    -fx-padding: 10px 0;
}

.flight-card .details-container .left, .flight-card .details-container .right {
    -fx-spacing: 5px;
}

.flight-card .plane-info {
    -fx-text-fill: #333;
    -fx-font-size: 12px;
}

.flight-card .plane-info .plane-type {
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.flight-card .plane-info .flight-no {
    -fx-font-style: italic;
    -fx-text-fill: #777;
}


.flight-card .content-container {
    -fx-alignment: center;
}

.flight-card .details-container label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.button {
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-border-width: 2px;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, #888, 5, 0, 0, 0);
    -fx-min-width: 120px;
}


#sortChoiceBox{
    -fx-background-color: rgba(255, 255, 255, 0.75); 
    -fx-text-fill: #333; 
    -fx-font-size: 16px; 
    -fx-font-weight: bold; 
    -fx-padding: 10px 20px; 
    -fx-background-radius: 20px; 
    -fx-border-radius: 20px; 
    -fx-border-color: rgba(255, 255, 255, 0.75); 
    -fx-border-width: 2px; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2); 
    -fx-cursor: hand; 
    -fx-transition: all 0.3s ease-in-out; 
}



#sortChoiceBox:hover {
    -fx-background-color: rgba(255, 255, 255, 0.9); 
    -fx-border-color: rgba(255, 255, 255, 1); 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 8, 0, 0, 4); 
}


#sortChoiceBox:focused {
    -fx-background-color: rgba(255, 255, 255, 0.9); 
    -fx-border-color: rgba(255, 255, 255, 1); 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 5); 
}
#sortLabel{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 6, 0.0, 0, 3);
    -fx-text-fill: white;
}


.toggle-button {
    -fx-min-width: 200px;  
    -fx-min-height: 50px;  
    -fx-pref-width: 200px;  
    -fx-pref-height: 50px;  
    -fx-background-color: linear-gradient(to bottom, #f1f1f1, #ddd); 
    -fx-border-radius: 30px;  
    -fx-border-color: #d1d1d1;
    -fx-border-width: 1px;  
    -fx-text-fill: #333;  
    -fx-font-size: 16px;  
    -fx-font-weight: bold;  
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);  
    -fx-alignment: center;  
    -fx-padding: 10px;  
}
.toggle-button:selected {
    -fx-background-color: #e4002b;  
    -fx-text-fill: white;
}

.toggle-button:hover {
    -fx-background-color: #e1e1e1;  
    -fx-border-color: #d1d1d1;
}

.toggle-button:pressed {
    -fx-background-color: #e10026;  
}


#economyButton {
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-background-color: rgba(51, 51, 51, 0.5); 
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#businessButton {
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-background-color: rgba(56, 142, 60, 0.5); 
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#firstClassButton {
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-background-color: rgba(215, 25, 32, 0.5);
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#economyButton:selected {
    -fx-background-color: rgba(34, 34, 34, 0.9);

}

#businessButton:selected {
    -fx-background-color: rgba(76, 175, 80, 0.9);

}

#firstClassButton:selected {
    -fx-background-color: rgba(240, 36, 40, 0.9);

}

#firstClassButton:hover {
    -fx-background-color: #b8151b;
    -fx-cursor: hand;
}
#businessButton:hover {
    -fx-background-color: #2e7430;
    -fx-cursor: hand;
}

#economyButton:hover {
    -fx-background-color: #444;
    -fx-cursor: hand;
}


.button-group {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.scroll-pane {
    -fx-border-width: 0;
    -fx-background-color: transparent; 
}

.scroll-pane .viewport {
    -fx-background-color: transparent; 
}

.scroll-pane .corner {
    -fx-background-color: transparent; 
}
.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb {
    -fx-background-color: #D71920; 
    -fx-background-radius: 10; 
    -fx-padding: 5; 
    -fx-pref-width: 10; 
    -fx-pref-height: 10; 
}

.scroll-bar:vertical .track, .scroll-bar:horizontal .track {
    -fx-background-color: rgba(255, 255, 255, 0.3); 
    -fx-background-radius: 10; 
}

.scroll-bar:vertical:hover .thumb, .scroll-bar:horizontal:hover .thumb {
    -fx-background-color:#388e3c; 
}

.scroll-bar:vertical:pressed .thumb, .scroll-bar:horizontal:pressed .thumb {
    -fx-background-color: #333; 
}
.scroll-bar:vertical{
    -fx-background-color: rgba(255, 255, 255, 0.3);
}
.scroll-bar:vertical .arrow{
    -fx-opacity: 0;
}

.dialog-pane {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 2px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 5, 5);
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 14px;
}

.error-dialog {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: rgba(255, 99, 71, 0.1);
    -fx-border-color: rgba(255, 99, 71, 0.8);
    -fx-font-size: 16px;
}

.error-dialog .label {
    -fx-text-fill: #e74c3c;
}

.success-dialog {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: rgba(0, 128, 0, 0.1);
    -fx-border-color: rgba(0, 128, 0, 0.8);
    -fx-font-size: 16px;
}

.success-dialog .label {
    -fx-text-fill: #27ae60;
}

.progress-indicator {
    -fx-background-color: transparent; 
    -fx-border-color: transparent; 
    -fx-padding: 0; 
}


.progress-indicator .spinner-pane {
    -fx-background-color: transparent; 
}


.progress-indicator .spinner {
    -fx-background-color: transparent; 
    -fx-border-color: transparent;
    -fx-progress-color: #D71920;
}



.progress-indicator .spinner-pane,
.progress-indicator .spinner {
    -fx-effect: null;
}

.progress-indicator .spinner-pane * {
    -fx-background-color: transparent;
}
