#loginContainer {
    -fx-background-color: rgba(255, 255, 255, 0.5); 
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-color: rgba(201, 33, 39, 0.7); 
    -fx-border-width: 3px;
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 5, 5); 
    -fx-alignment: center;
}

#usernameLabel, #passwordLabel {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: #333333; 
}

#usernameTextField, #passwordField {
    -fx-pref-width: 300px;
    -fx-font-size: 14px;
    -fx-background-color: rgba(255, 255, 255, 0.8); 
    -fx-border-color: rgba(201, 33, 39, 0.5); 
    -fx-border-width: 1.5;
    -fx-padding: 5px;
    -fx-font-family: "Arial";
}

#loginBtn2 {
    -fx-background-color: rgba(201, 33, 39, 0.9); 
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}

#loginBtn2:hover {
    -fx-background-color: rgba(139, 0, 0, 1); 
}

#registerBtn {
    -fx-background-color: rgba(201, 33, 39, 0.7); 
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}

#registerBtn:hover {
    -fx-background-color: rgba(139, 0, 0, 0.9); 
}

#loginPane {
    -fx-background-image: url("/pexels-gyorgy-toth-21175056-9298364.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.dialog-pane {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 2px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 5, 5);
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 14px;
}

.error-dialog {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: rgba(255, 99, 71, 0.1);
    -fx-border-color: rgba(255, 99, 71, 0.8);
    -fx-font-size: 16px;
}

.error-dialog .label {
    -fx-text-fill: #e74c3c;
}

.success-dialog {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: rgba(0, 128, 0, 0.1);
    -fx-border-color: rgba(0, 128, 0, 0.8);
    -fx-font-size: 16px;
}

.success-dialog .label {
    -fx-text-fill: #27ae60;
}
