
.root {
    -fx-background-image: url('/pexels-suissounet-20848201.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-padding: 20;
}


.header-label {
    -fx-text-fill: #d71920;
    -fx-padding: 10 0 20 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 4, 0, 0, 2);
}


.vbox-container {
    -fx-background-color: rgba(255, 255, 255, 0.7); 
    -fx-background-radius: 15;
    -fx-border-color: rgba(220, 220, 220, 0.8);
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 2);
    -fx-opacity: 0.95;
}


.booking-card {
    -fx-background-color: rgba(255, 255, 255, 0.5); 
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
}


.booking-id {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #d71920; 
    -fx-padding: 5 0 5 0;
}


.booking-details {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-line-spacing: 4px;
}


.button {
    -fx-background-color: linear-gradient(to bottom, #0072bc, #005fa3); 
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 10 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0, 0, 2);
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #005fa3, #004d84); 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 6, 0, 0, 3);
}

.button:pressed {
    -fx-background-color: #004080; 
    -fx-effect: none;
}
#seperator{
    -fx-border-color: #d71920; 
    -fx-border-width: 0 0 3px 0; 
    -fx-border-style: solid; 

}
.instruction-label {
    -fx-text-fill: #333333;
    -fx-wrap-text: true;
    -fx-padding: 10 20;
}

.warning-label {
    -fx-text-fill: #d71920; 
    -fx-wrap-text: true;
    -fx-padding: 10 20;
}

.button-cancel {
    -fx-background-color: #d71920; 
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button-cancel:hover {
    -fx-background-color: #b7181d; 
}

.button-cancel:pressed {
    -fx-background-color: #950f14; 
}
